.date-picker {
  display: block;
  width: 200px;
  line-height: 28px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: default;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;

    .btn {
      flex: 1;
      cursor: pointer;
    }
    .info {
      flex: 5;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .date-picker {
    width: 95%;
    min-width: 200px;
  }
}
